<!-- PAGE 1 -->

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>V-Manager</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="./stylesheets/main.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <link href='https://use.fontawesome.com/releases/v5.0.6/css/all.css' rel='stylesheet'>
    <link href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css' rel='stylesheet' />  

    <link href= "./fullcalendar-4.0.1/packages/core/main.css" rel= "stylesheet"/>
    <link href= "./fullcalendar-4.0.1/packages/daygrid/main.css" rel= "stylesheet"/>

</head>


<body>
    
    <div id= "head">
<ul>
    <li>V-Manager</li>    <li style="float:right;"><a href="login" >Login</a></li>

</ul>        
    </div> 

    <div id= "rest">
        <div id= "cards">
            <div id= "a1" class= "card">

            </div>
            <div id= "a2" class= "card">

            </div>
            <div id= "a3" class= "card">

            </div>
            <div id= "a4" class= "card">

            </div>
        </div>

        <div id= "calendar">

        </div>
    </div>
    </body>

    <script src="./fullcalendar-4.0.1/packages/core/main.js"></script>
    <script src="./fullcalendar-4.0.1/packages/daygrid/main.js"></script>

    <script >
// import  Calendar from './fullcalendar-4.0.1/packages/core/main.js';
// import DayGrid from './fullcalendar-4.0.1/packages/daygrid/main.js';
// import './fullcalendar-4.0.1/packages/core/main.css';
// import './fullcalendar-4.0.1/packages/daygrid/main.css';
// import './fullcalendar-4.0.1/packages/timegrid/main.css';
// import './fullcalendar-4.0.1/packages/list/main.css';

document.addEventListener('DOMContentLoaded', function() {
        var calendarEl = document.getElementById('calendar');

        var calendar = new FullCalendar.Calendar(calendarEl, {
          plugins: [ 'dayGrid' ]
        });

        calendar.render();
      });

    </script>

</html>