<!-- PAGE 4 -->

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Venue information</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="/Users/vrsreeganesh/Desktop/Samanyu/venue-management/public/stylesheets/adam_4.css" />
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
        <!-- <script src="main.js"></script> -->
</head>


<body>
    <div id="cain">

        <div class="square_1">
            <div class="square_1_1">
                <h1 style="font-size:3vw; color:rgb(198, 198, 221); font-family:serif; text-align:center;">Venue name</h1>
            </div>
        </div>

        <div class="square_2">
            
            <div class="square_2_1">
                <div class="square_2_1_calendar">
                    <h2 style="font-size:3vw; color:rgb(198, 198, 221); font-family:serif; text-align:center;">Calendar</h2>
                </div>
            </div>

            <div class="square_2_2">
                <h3 style="font-size:3vw; color:rgb(198, 198, 221); font-family:serif; text-align:center;">Details</h3>

            </div>
        </div>


    </div>
</body>
</html>