/* adam_2.css */
#cain
{
    display : grid;
    
    grid-template-rows: 16vw 32vw 16vw;
    grid-template-columns : 1fr 1fr 1fr;
    background-color: rgb(56, 103, 87)
}

.square_1
{
    display: grid;
    grid-column: 2/3;
    grid-row: 2/3;
    background-color: rgb(91, 73, 50)
}
