<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Lecture Rooms - Select your Venue</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,300,400,600,700,900" rel="stylesheet">
    <link rel="stylesheet" type="text/css" media="screen" href="../stylesheets/select_venue/classes.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

</head>
<body>
    <div class="home">
        <a href="/">&lt; Home</a>
    </div>
  <p class="mainhead">Lecture Rooms</p>
    <h4 class="heading">Department of Computer Science & Engineering</h4>
    <div class="row">
        <a href="/select_venue/classes/cs222">
          <div class="col-md-3">
            <div class="card card-3">
              <h3>CS-222</h3>
              <p>Lecture room with a maximum strength of 70 and prjector</p>
            </div>
          </div>
        </a>
        <a href="/select_venue/classes/cs111">
          <div class="col-md-3">
              <div class="card card-1">
                <h3>CS-111</h3>
                <p>Lecture room with a maximum strength of 74</p>
              </div>
            </a>
          </div>  
          <div class="col-md-3">
            <a href="/select_venue/classes/cs123">
              <div class="card card-2">
                <h3>CS-123</h3>   
                <p>Lecture room with a maximum strength of 65 and prjector</p>
              </div>
            </a>
          </div>
          <div class="col-md-3">
              <a href="/select_venue/classes/cs321">
              <div class="card card-2">
                <h3>CS-321</h3>
                <p>Lecture room with a maximum strength of 80 and prjector</p>
              </div>
            </a>
          </div>
    </div>

    <h4 class="heading">Department of Electronics & Communication</h4>
    <div class="row">
          <div class="col-md-3">
            <a href="/select_venue/classes/ec223">
              <div class="card card-3">
                <h3>EC-223</h3>
                <p>Lecture room with a maximum strength of 65</p>
              </div>
            </a>
          </div>
          <div class="col-md-3">
            <a href="/select_venue/classes/ec432">
              <div class="card card-1">
                <h3>EC-432</h3>
                <p>Lecture room with a maximum strength of 86 and prjector</p>
              </div>
            </a>
          </div>
          <div class="col-md-3">
            <a href="/select_venue/classes/ec200">
              <div class="card card-2">
                <h3>EC-208</h3>
                <p>Lecture room with a maximum strength of 76</p>
              </div>
            </a>
          </div>
          <div class="col-md-3">
            <a href="/select_venue/classes/ec250">
              <div class="card card-2">
                <h3>EC-221</h3>
                <p>Lecture room with a maximum strength of 60 and prjector</p>
              </div>
            </a>
          </div>
    </div>
</body>

<script>

</script>

</html>