<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Select your Venue</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,300,400,600,700,900" rel="stylesheet">
    <link rel="stylesheet" type="text/css" media="screen" href="../stylesheets/select_venue/classes.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

</head>
<body>
  <p class="mainhead">Main Rooms</p>
    <div class="row">
        <a href="/select_venue/main/cetaa">
          <div class="col-md-3">
            <div class="card card-3">
              <h3>CS-107</h3>
              <p>CETAA Hall</p>
            </div>
          </div>
        </a>
        <a href="/select_venue/main/ccf">
          <div class="col-md-3">
              <div class="card card-1">
                <h3>Central Computing Facility</h3>
                <p>Classroom with a maximum strength of 72</p>
              </div>
            </a>
          </div>  
          <div class="col-md-3">
            <a href="/select_venue/main/dj">
              <div class="card card-2">
                <h3>DJ Hall</h3>   
                <p>Classroom with a maximum strength of 70</p>
              </div>
            </a>
          </div>
          <div class="col-md-3">
              <a href="/select_venue/main/cs212">
              <div class="card card-2">
                <h3>CS-212</h3>
                <p>Classroom with a maximum strength of 75</p>
              </div>
            </a>
          </div>
    </div>

    <div class="row">
          <div class="col-md-3">
            <a href="/select_venue/main/ec252">
              <div class="card card-3">
                <h3>EC-252</h3>
                <p>Classroom with a maximum strength of 70</p>
              </div>
            </a>
          </div>
          <div class="col-md-3">
            <a href="/select_venue/main/ec212">
              <div class="card card-1">
                <h3>EC-212</h3>
                <p>Classroom with a maximum strength of 76</p>
              </div>
            </a>
          </div>
          <div class="col-md-3">
            <a href="/select_venue/main/ec208">
              <div class="card card-2">
                <h3>EC-208</h3>
                <p>Classroom with a maximum strength of 81</p>
              </div>
            </a>
          </div>
          <div class="col-md-3">
            <a href="/select_venue/main/ec221">
              <div class="card card-2">
                <h3>EC-221</h3>
                <p>Classroom with a maximum strength of 72</p>
              </div>
            </a>
          </div>
    </div>
</body>

<script>

</script>

</html>