<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Add Venue</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="../../../stylesheets/login.css" />
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        <script src="../../../javascripts/main.js"></script>
        
</head>


<body>
    <div class="home">
        <a href="/">&lt; Home</a>
    </div>
    <div class="login-page">
        <span style="color:red; text-align:center" class="formError" id="formError"></span>
        <div class="form">
          <input type="text" placeholder="Venue Name" id="venue_name" />
          <input type="text" placeholder="Venue Type" id="venue_type" />
          <input type="text" placeholder="Venue Code" id="venue_code" />
          <input type="text" placeholder="Incharge ID(blank if none)" id="incharge_id" />
          <button onclick="addVenue()">Create New Venue</button>
        </div>
    </div>
    
</body>
</html>